* {
    color: black;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 15px;
    padding: 15px;
    background-color: white;
    height: 100%;
}

.t-body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

t-footer {
    height: 100%;
}

.border-line {
    border: 2px solid red;
}

.somecontext {
    height: 90%;
}

.headbody {
    padding-top: 20px;
    text-align: center;
    font-size: large;
    /*background-color: #1d72aa;*/
    color: white;
    background-image: url("/static/img/bc.gif");
}

.checkserverbox {
    background-color: darkgray;
    border: 1px #00b89c dashed;
}

/*menu*/
.menustyle {
    padding-left: 15px;
    border-right: 1px dashed;
    min-height: 100%;
    /*background-color: #00b89c;*/

}

.rightboxstyle {
    margin-right: 20px;
    background-color: whitesmoke;
}

.wrapper1 {
    height: 100%;
}

.cc {
    min-height: 100%;
}


.boxtitle {
    background-color: darkgray;
    /*padding: 7px;*/
    font-size: 1.5em;
}

.boxtitle-left {
    text-align: left;

}

.boxtitle-right {
    text-align: right;
}

.colorli_error {
    color: red;
}

.colorli_ok {
    color: green;
}

/* fix input:checkbox size*/
input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
}

.error_red {
    color: red;
}

.error_green {
    color: green;
    /*background-color: #00c4a7;*/

}

.label_checkbox {
    padding-left: 5px;
}

.smalltext {
    font-size: 10px;
    font-style: italic;
}

.ccc {
    margin-right: 10px;
}

.cursor {
/*    height: 40px;*/
/*    width: 40px;*/
/*    pointer-events: none;*/
/*/ * курсор не является объектом события мыши * / position: absolute;*/
/*    border: 4px solid red;*/
/*    border-radius: 50%;*/
/*    box-sizing: border-box;*/
/*    transition: 0, 1s;*/
/*    transform: translate(-50%, -50%);*/
    cursor: wait;
}
/*#mainer, .cursor1 {*/
/*    cursor: wait;*/
/*}*/

.cur_wait {
    cursor: wait;
    color: #f3222d;
    size: A4;
}
.cur_normail {
    cursor: default;
    color:black;
    size: A4;
}
.formstyle {
    padding: 20px;
    border: 1px solid black;
}