
<!-- HEAD -->
{{block "head".}}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/core.css?v={{random}}">
    <link href="/static/fw/fontawesome512/css/all.css" rel="stylesheet"> <!--load all styles -->
    <link href="/static/fw/bulma/css/bulma.css" rel="stylesheet"> <!--bulma FW -->
    <script src="/static/js/core.js"></script>
    <script defer src="/static/fw/fontawesome512/js/all.js"></script> <!--load all styles -->
    <meta charset="UTF-8">
    <title>2лтп web портал</title>
</head>
<body class="t-body">
{{end}}


<!-- FOOTER -->
{{block "footer".}}
    <div class="columns t-footer">
        <div class="column">dfgdfdfg</div>
    </div>
{{end}}


<!-- END -->
{{block "end".}}
</body>
</html>
{{end}}


<!-- config block -->
{{block "config".}}
    <h2>config</h2>
{{end}}


<!--
-----------------------------------------------------------
SINGLECHECKDB - разовая проверка
-----------------------------------------------------------
 -->
{{block "checkdbsingle".}}
    {{$config := .DATA.stock.config}}

    {{/*    Example info from yaml config: {{$config.ServerJSWS}}*/}}
    <script>
        let readystrconnect = "ws://" +  {{$config.AdressHTTP}} +"/ws/singlecheck";
        ws://localhost:4001/ws/singlecheck
                {{/*let  gconnect = new SocketTester('infobd', 'list', 'checked', 'single', 'btn', 'stop', {{$config.ServerJSWS}});*/}}
                {{/*console.log("READYCONNECTSTR: ", {{$config.AdressHTTP}});*/}}
            console.log(readystrconnect);
        let gconnect = new SocketTester('infobd', 'list', 'checked', 'single', 'btn', 'stop', readystrconnect);

    </script>

    <!-- статус вебсокета -->
        <h4 class="title is-4">    <span class="" id="icon">
            [+] <span class="smalltext"> статус соединения по вебсокету с сервером</span>
            </span>

    <div class="box checkserverbox">
        <!-- кнопка обновить список серверов из БД -->
        <button class="button is-primary is-info" onclick="gconnect.updateServerList(this);" id="btnupdate">
            получить/обновить список бд из filials
        </button>
        <br>
        <i>время формирования списка серверов: <span id="timeupdate"></span> </i>


        <div class="box">
        <div class="columns">
            <div class="column">
                <!-- timeoutTCP -->
                <input class="input" type="number" placeholder="10" id="timeoutTCP">
                <span class="smalltext">таймаут в секундах для проверки доступности хоста при tcp коннекте (обычные бд) </span>
            </div>
            <div class="column">
                <!-- timeoutCTX -->
                <input class="input" type="number" placeholder="10" id="timeoutCTX">
                <span class="smalltext">таймаут в секундах для проверки "зависиших баз" `longtime query` (обычные бд) </span>

            </div>
            <div class="column">
                <!-- timeoutTCPZBD -->
                <input class="input" type="number" placeholder="10" id="timeoutTCPZBD">
                <span class="smalltext">таймаут в секундах для проверки доступности хоста при tcp коннекте (цбд, имеющий выставленный флаг `filials.ismain`) </span>
            </div>
            <div class="column">
                <!-- timeoutCTXZBD -->
                <input class="input" type="number" placeholder="10" id="timeoutCTXZBD">
                <span class="smalltext">таймаут в секундах для проверки "зависиших баз" `longtime query` (цбд) </span>
            </div>
        </div>
            <button class="button is-primary is-info" onclick="gconnect.updateTimers(this);" id="updateTimers">
                обновить таймеры для новых проверок
            </button>
            <br>
            <span id="updatetimerspan"></span>
        </div>


    <!-- триггер для показа панели со списком серверов для исключения отдельных для проверки -->
    <button class="button" onclick="gconnect.checklistShow(this);">исключить сервера</button>

    <!-- панель со списком серверов для исключения в проверке -->
    <div class="box" id="listcheck" style="display: none;">
           <div class="columns" id="listbox">
{{/*          <div class="column">*/}}
{{/*            <ul class="">*/}}
{{/*                <li>*/}}
{{/*                     <label class="checkbox">*/}}
{{/*                            <input type="checkbox" onclick="">*/}}
{{/*                      <span class="label_checkbox">выбрать всех</span>*/}}
{{/*                      </label>*/}}
{{/*                </li>*/}}
{{/*            </ul>*/}}
{{/*          </div>*/}}
{{/*          <div class="column">*/}}
{{/*            Second column*/}}
{{/*          </div>*/}}
{{/*          <div class="column">*/}}
{{/*            Third column*/}}
{{/*          </div>*/}}
{{/*          <div class="column">*/}}
{{/*            Fourth column*/}}
{{/*          </div>*/}}
            </div>
        </div>


        <!-- ----------------------- -->
        <hr>

        <!-- кнопка старт событийной цепочки -->
        <button class="button is-primary is-info" onclick="gconnect.startCheckLPU(this);" id="btnlpu">
            проверить бд ЛПУ
        </button>

        <!-- кнопка старт событийной цепочки -->
        <button class="button is-primary is-info" onclick="gconnect.startCheckZOD(this);" id="btnzod">
            проверить бд ЦОД
        </button>


        <!-- кнопка старт событийной цепочки -->
        <button class="button is-primary is-info" onclick="gconnect.startCheckALL(this);" id="btnall">
            проверить все сервера
        </button>

        <!-- кнопка остановка выполнения -->
        <button class="button is-primary is-info" onclick="gconnect.stopEvent(this);" id="stop" disabled>
            остановка
        </button>
        <hr>

        <!-- ---------------------- -->


        {{/*        <!-- отметить по списку -->*/}}
{{/*        <hr>*/}}
{{/*        <span class="">выборка по номерам бд: </span>*/}}
{{/*        <input class="input" type="text" placeholder="1,2,3" id="idnum">*/}}
{{/*        <script>*/}}
{{/*            document.getElementById('idnum').addEventListener("keypress",gconnect.checkdByListID);*/}}
{{/*        </script>*/}}


{{/*        <!-- выбрать все -->*/}}
{{/*        <hr>*/}}
{{/*        <label class="checkbox">*/}}
{{/*            <input type="checkbox" onclick="gconnect.selectAll(this);">*/}}
{{/*            <span class="label_checkbox">выбрать всех</span>*/}}
{{/*        </label>*/}}


{{/*        <!-- блок со списком серверов -->*/}}
{{/*        <div class="box">*/}}
{{/*            <div class="columns" id="listnodes"></div>*/}}
{{/*        </div>*/}}

        <!-- информация по количеству БД из конфига -->
        <i style="font-size: 20px; font-weight: bold;">
            БД (всего): <span id="infobd">0</span> ::: проверено <span id="checked">0</span>
        </i>
        <hr>

{{/*        <!-- проверка  -->*/}}
{{/*        <i style="font-size: 16px; font-weight: bold;">*/}}
{{/*            Кол-во проверяемых (всего): <span id="countbd">0</span> ::: проверено <span id="checkedsolo">0</span>*/}}
{{/*        </i>*/}}
        <hr>


        <!--  -->
        <div class="table-container">
            <table class="table">
                <!-- head -->
                <thead>
                <tr>
                    <th>filid</th>
                    <th>хост</th>
                    <th>ошибка</th>
                    <th>время</th>
                </tr>
                </thead>
                <!-- body -->
                <tbody id="list">

                </tbody>
            </table>
        </div>


        {{/*        <!-- список проблемных серверов -->*/}}
        {{/*        <ul id="list">*/}}
        {{/*            <li>*/}}
        {{/*                <span>host: 172.30.32.239:3055</span> <!-- node-->*/}}
        {{/*                <span>error </span> <!-- error -->*/}}
        {{/*                <span></span> <!-- timerun -->*/}}
        {{/*            </li>*/}}
        {{/*        </ul>*/}}

    </div>

{{end}}


<!-- checkdbtimer block -->
{{block "checkdbtimer".}}
    <h2>checkdbtimer</h2>
{{end}}


<!-- wrappython block -->
{{block "wrappython".}}
    <h2>wrappython</h2>
{{end}}


<!-- wrapdbs block -->
{{block "wrapdbs".}}
    <h2>wrappython0</h2>
{{end}}

<!-- spidersmb block -->
{{block "spidersmb".}}
    <h2>spidersmb</h2>
{{end}}


<!-- spiderftp block -->
{{block "spiderftp".}}
    <h2>spiderftp</h2>
{{end}}


<!-- ws block -->
{{block "ws".}}
    <h2>wsblock</h2>
    <hr>
{{end}}


<!--
-----------------------------------------------------------
MULTICHECK - постоянные проверки
-----------------------------------------------------------
 -->
{{block "multicheck".}}

    <div class="box error_red">
        <span class="error_red">[ тестирование ]</span>
    </div>


    <h4 class="title is-4">    <span class="" id="icon">
            [+]
            </span>
        Постоянные проверки бд с заданной периодичностью</h4>

        {{$config := .DATA.stock.config}}
        <script>
            let rdyconnMC = "ws://" + {{$config.AdressHTTP}} +"/ws/multicheck"
            let gconMC = new HandlerWebsocketMultiCheck('core', 'icon', rdyconnMC);
        </script>


        <!-- установка таймаутов по соединениям -->
        <hr>
        <div class="box">
            <div class="columns">
                <div class="column">
                    <!-- timeoutTCP -->
                    <input class="input" type="number" placeholder="10" id="timeoutTCP">
                    <span class="smalltext">таймаут в секундах для проверки доступности хоста при tcp коннекте (обычные бд) </span>
                </div>
                <div class="column">
                    <!-- timeoutCTX -->
                    <input class="input" type="number" placeholder="10" id="timeoutCTX">
                    <span class="smalltext">таймаут в секундах для проверки "зависиших баз" `longtime query` (обычные бд) </span>

                </div>
                <div class="column">
                    <!-- timeoutTCPZBD -->
                    <input class="input" type="number" placeholder="10" id="timeoutTCPZBD">
                    <span class="smalltext">таймаут в секундах для проверки доступности хоста при tcp коннекте (цбд, имеющий выставленный флаг `filials.ismain`) </span>
                </div>
                <div class="column">
                    <!-- timeoutCTXZBD -->
                    <input class="input" type="number" placeholder="10" id="timeoutCTXZBD">
                    <span class="smalltext">таймаут в секундах для проверки "зависиших баз" `longtime query` (цбд) </span>
                </div>
            </div>
            <button class="button is-primary is-info" onclick="gconMC.updateTimersMultiCheck(this);" id="updateTimers">
                обновить таймеры для новых проверок
            </button>
            <br>
            <span id="updatetimerspan"></span>
        </div>

        <!-- информационный блок - количество серверов -->
        <h3>--> количество проверяемых серверов: <span id="countServers">0</span></h3>

        <!-- информационный блок - количество проверок и время последней проверки -->
        <h3>--> количество проверок и время последней проверки: <span id="countinfo">

</span></h3>
        <hr>

    <!-- триггер для показа панели со списком серверов для исключения отдельных для проверки -->
    <button class="button" onclick="gconMC.showListServers(this);">исключить сервера</button>

    <!-- панель со списком серверов для исключения в проверке -->
    <div class="box" id="listcheck" style="display: none;">
           <div class="columns" id="listbox">
            </div>
        </div>



        <!--установка таймера  -->
        <div class="box">
            <div class="columns">
                <div class="column">
                    <!-- timer value -->
                    <input class="input" type="number" placeholder="10" id="timervalue" min="0" step="1">
                    <span class="smalltext">таймер в минутах для установка периода проверки</span>
                </div>
            </div>
        <div>
    <hr>

    <!-- запуск проверки -->
        <button class="button is-primary is-info" onclick="gconMC.startEvent(this);" id="startMultiCheck">
                запустить проверку с периодичностью по таймеру
        </button>

        <button class="button is-primary is-info" onclick="gconMC.stopEvent(this);" id="stopMultiCheck">
                останов всех рабочих
        </button>

{{end}}



<!-- ----------------------------------------------------------

check backup single одиночная проверка бэкапов

-------------------------------------------------------------- -->
{{block "checkbackupSingle".}}
    <div class="box">
        <h2 class="title">
                        <span class="" id="icon">
            [+]
            </span>
            проверка бэкапов (разовая проверка)</h2>
        <hr>
        <!-- чекбокс для чтения данных из формы (путь к директории) -->
        <button class="button is-primary" onclick="gc.RunCheck(this);">проверить бэкапы</button>
        <!-- очистить результирующее окно -->
        <button class="button is-primary" onclick="gc.ClearResultWindow(this);">очистить результирующее окно</button>
        <!-- обновить периоды по филиалам -->
        <button class="button is-primary" onclick="gc.UpdatePeriods(this);">обновить периоды по филиалам</button>
        <hr>
        <!-- фильтрация по ok/fail -->
        <label class="checkbox" class="correctBox" >
        <input type="checkbox" name="filterOK" id="filterBackup" class="ccc" onclick="gc.FilterOK(this);">
            все/просроченные [<span id="filtercount"> - </span>]
        </label>

    </div>

    <!-- result box -->
{{/*    <div class="box" id="resultbox" onclick="gc.ChangeStatusResultBox(this);"></div>*/}}
    <div class="box" id="resultbox"></div>

{{/*    <script>*/}}
{{/*        let resultbox = document.getElementById("resultbox");*/}}
{{/*        resultbox.addEventListener("", function(e) {*/}}
{{/*            console.log("CHANGE!!!!!!!!!!!!!!!!!!\n");*/}}
{{/*        })*/}}
{{/*    </script>*/}}

    <!-- config + profiles box -->
    <div class="box" id="profilebox"></div>

    <!-- config + profiles box -->
    <div class="box" id="infobox"></div>




    {{$config := .DATA.stock.config}}
    <script>
        let rdycon = "ws://" + {{$config.AdressHTTP}} +"/ws/backupsingle"
        let gc = new WebsockeBackupSingle('resultbox', 'profilebox', 'infobox', 'icon', rdycon);
    </script>
{{end}}


<!-- check backup timer -->
{{block "checkbackupTimer".}}

    <h2 class="title">проверка бэкапов по таймеру (в разработке)</h2>
    <hr>
{{end}}

<!-- timer single result -->
{{block "timersingleresult".}}

    <div class="box" id="infobox">
    </div>

    <h3 class="title is-3" style="">
            <span class="" id="icon">
            [+]
            </span>
        результаты работы активных воркеров
    </h3>
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th><abbr title="идентификатор">id</abbr></th>
            <th><abbr title="ip машины на которой размещена бд">хост</abbr></th>
            <th><abbr title="таймер зависших запросов">таймер(сек)</abbr></th>
            <th><abbr title="период запросов">период(сек(разр)/мин(прод))</abbr></th>
            <th><abbr title="статус последней проверки">статус</abbr></th>
            <th><abbr title="что за ошибка, если была">ошибка</abbr></th>
        </tr>
        </thead>
        <tbody id="tresult">

        </tbody>
    </table>
    {{$config := .DATA.stock.config}}
    <script>
        let rdycon = "ws://" + {{$config.AdressHTTP}} +"/ws/timersingleresult"
        let gc = new WebsocketTimerSingleResult('tresult', 'infobox', 'core', 'icon', rdycon);
        setInterval(() => GetData(gc), 1000);
    </script>


{{end}}

<!-- timer single config -->
{{block "timersingleconfig".}}
    <h4 class="title is-4">добавление базы для проверки по таймеру</h4>

    <div class="box" id="infobox">

    </div>

    <form class="box" name="noda" onsubmit="return false">
        <h3 class="title is-3" style="color: darkgrey;">
            <span class="" id="icon">
            [+]
            </span>
            форма формирования параметров `рабочего`
        </h3>

        {{$config := .DATA.stock.config}}
        <script>
            let rdycon = "ws://" + {{$config.AdressHTTP}} +"/ws/timersingleconfig"
            let gc = new WebsocketTimerSingleconfig('idselect', 'infobox', 'core', 'icon', rdycon);
        </script>

        <hr>
        <!-- ip::str -->
        <div class="field">
            <label class="label">адрес бд (ex: sysdba:sysdba@localhost:3055/employee)</label>
            <div class="control">
                <input class="input" name="db" type="text" placeholder="sysdba:sysdba@localhost:3055/employee">
            </div>
        </div>

        <!-- период таймера проверки-->
        <div class="field">
            <label class="label">период проверки секундах (ex: 60)</label>
            <div class="control">
                <input class="input" name="period" type="text" placeholder="период проверки секундах">
            </div>
        </div>

        <!-- таймаут при длинных запросах-->
        <div class="field">
            <label class="label">таймаут при `подвисших` запросах/базах в секундах (ex: 5)</label>
            <div class="control">
                <input class="input" name="timeout" type="text" placeholder="таймаут при `подвисших` запросах/базах">
            </div>
        </div>
        <button class="button is-primary" onclick="gc.SendForm(this);">добавить обработчик</button>
    </form>
    <hr>

    <!--  прибить процесс по ID  -->
    <div class="box">
        <h4 class="title">прибить воркера</h4>
        ID воркера:
        <div class="select">
            <select id="idselect">
            </select>
        </div>
    </div>
    <button class="button is-primary" onclick="gc.KillWorker(this);">Finish him</button>

{{end}}

<!-- ----------------------------------------------------------

            DBS INTERACTIV CHECKER

------------------------------------------------------------- -->
            {{block "interactiv".}}
            .zX~ в разработке ~Xz.
            <h4 class="title is-4">интерактивная проверка бд (интерактивный  режим)</h4>
            {{end}}



<!-- ----------------------------------------------------------

FUNCTIONS SECTION (REMD IMEK RPN USERS)

-------------------------------------------------------------- -->
{{block "functions".}}
<!-- variables -->
{{$p := .TEXT.request.routepatern}}
{{$id := .DATA.stock.id }}
{{$command := .DATA.stock.command }}
{{$fifo := .DATA.stock.fifo}}
{{$res := .DATA.stock.result}}

{{$resultremd := .DATA.stock.resultremd}}
{{$resultimek := .DATA.stock.resultimek}}

{{/*FIFO: {{$fifo}}*/}}
{{/*RESULT: {{$res}}*/}}

<!-- websocketcreate -->
    {{$config := .DATA.stock.config}}
    <script>
        let rdycon = "ws://" + {{$config.AdressHTTP}} +"/ws/functions"
        let gc = new WebsocketTester('tresult', 'infobox', 'core', 'icon', rdycon);
        // setInterval(() => GetData(gc), 1000);
    </script>

    <!-- icon connection websocket enable  -->
       <h2 class="title is-5" style="text-align: right">
            <span class="" id="icon">
            [+]
            </span>
        </h2>


<!-- REMD -->
    {{if eq $command  `remd`}}
    <h4 class="title is-4">(РЭМД) проверка доступности интеграции с внешним сервисом</h4>

<!-- tabs -->
<div class="tabs is-left is-boxed is-medium">
  <ul>
    <li  class="{{if eq $id `check` }} is-active {{else}} {{end}}">
      <a href="/functions/remd/check">
        <span class="icon is-small"><i class="fas fa-recycle" aria-hidden="true"></i></span>
        <span>проверка</span>
      </a>
    </li>
    <li class="{{if eq $id `stat` }} is-active {{else}} {{end}}">
      <a href="/functions/remd/stat">
        <span class="icon is-small"><i class="fas fa-archive" aria-hidden="true"></i></span>
        <span>статистика проверок</span>
      </a>
    </li>
  </ul>
</div>

<!-- tabs::container  -->
{{if eq $id "check"}}
<script >
        //изменяю курсор мыши
        let page = document.getElementById("mainer");
        // page.style.cursor = "wait";
        page.classList.remove('cur_wait');
        page.classList.add('cur_normal');

</script>

    <div id="remd.check" class="containers">

<a class="button is-primary" form="dates" onclick="gc.SendIMEK(this);" href="/functions/remd/check?remd=start">
запуск проверки</a>


    <table class="table is-bordered is-fullwidth">
      <thead>
        <tr>
          <th>филиал</th>
          <th>время последней отправки</th>
          <th>ошибка доступа к филиалу</th>
        </tr>
      </thead>
    <tbody>
          {{range $a, $b := $resultremd}}
          <tr>
            <td> {{$b.Filial}}</td>
            <td> {{$b.LastTime}}</td>
            <td> {{$b.ErrorAccess}}</td>
            </tr>
        {{end}}
    </tbody>
    </table>
</div>

{{end}}


{{if eq $id "stat"}}
    <div id="remd.stat" class="containers">

    <table class="table is-bordered is-fullwidth">
      <thead>
        <tr>
          <th>сервис</th>
          <th>время запуска проверки</th>
          <th>время выполнение SQL</th>
        </tr>
      </thead>
    <tbody>
          {{range $a, $b := $fifo}}
          <tr>
            <td> {{$b.Service}}</td>
            <td> {{$b.TimeRun}}</td>
            <td> {{$b.TimeSQLRun}}</td>

            </tr>
        {{end}}
    </tbody>
    </table>

    </div>
{{end}}
{{end}}


<!-- IMEK -->
    {{if eq $command  `imek`}}
    <h4 class="title is-4">(ИЭМК) проверка доступности интеграции с внешним сервисом</h4>

<!-- tabs -->
<div class="tabs is-left is-boxed is-medium">
  <ul>
    <li  class="{{if eq $id `check` }} is-active {{else}} {{end}}">
      <a href="/functions/imek/check">
        <span class="icon is-small"><i class="fas fa-recycle" aria-hidden="true"></i></span>
        <span>проверка</span>
      </a>
    </li>

    <li class="{{if eq $id `stat` }} is-active {{else}} {{end}}">
      <a href="/functions/imek/stat">
        <span class="icon is-small"><i class="fas fa-archive" aria-hidden="true"></i></span>
        <span>статистика проверок</span>
      </a>
    </li>
  </ul>
</div>


<!-- tabs::container  -->
{{if eq $id "check"}}
<script >
        //изменяю курсор мыши
        let page = document.getElementById("mainer");
        // page.style.cursor = "wait";
        page.classList.remove('cur_wait');
        page.classList.add('cur_normal');

</script>

    <div id="remd.check" class="containers">
{{/*    <button class="button is-primary" onclick="gc.SendIMEK(this);">запуск проверки</button>*/}}

<button class="button is-primary">
    <a href="/functions/imek/check?imek=start" onclick="gc.SendIMEK(this);">запуск проверки</a></button>
 </div>

        <table class="table is-bordered is-fullwidth">
      <thead>
        <tr>
          <th>филиал</th> <!-- filials.filid -->
          <th>наименование филиала</th>
          <th>pcode </th>
          <th>treatcode</th>
          <th>treatdate</th>
          <th>дата ответа</th>
        </tr>
      </thead>
    <tbody>
          {{range $a, $b := $resultimek}}
          <tr>
            <td> {{$b.Filial}}</td>
            <td> {{$b.Fullname}}</td>
            <td> {{$b.Pcode}}</td>
            <td> {{$b.TreatCode}}</td>
            <td> {{$b.TreatDate}}</td>
            <td> {{$b.ResponseDate}}</td>
            </tr>
        {{end}}
    </tbody>
    </table>

{{end}}

{{if eq $id "stat"}}
    <div id="remd.stat" class="containers">


    <table class="table is-bordered is-fullwidth">
      <thead>
        <tr>
          <th>сервис</th>
          <th>время запуска проверки</th>
          <th>время выполнение SQL</th>
        </tr>
      </thead>
    <tbody>
          {{range $a, $b := $fifo}}
          <tr>
            <td> {{$b.Service}}</td>
            <td> {{$b.TimeRun}}</td>
            <td> {{$b.TimeSQLRun}}</td>

            </tr>
        {{end}}
    </tbody>
    </table>



    </div>

{{end}}
{{end}}


<!-- RPN  -->
    {{if eq $command `rpn`}}
        <h4 class="title is-4">RPN</h4>
    {{end}}

<!-- USER -->
    {{if eq $command `user`}}

    <h4 class="title is-4">юзер (CRUD)</h4>

<!-- tabs -->
<div class="tabs is-left is-boxed is-medium">
  <ul>
    <li  class="{{if eq $id `create` }} is-active {{else}} {{end}}">
      <a href="/functions/user/create">
        <span class="icon is-small"><i class="fas fa-recycle" aria-hidden="true"></i></span>
        <span>создание</span>
      </a>
    </li>
    <li class="{{if eq $id `reader` }} is-active {{else}} {{end}}">
      <a href="/functions/user/reader">
        <span class="icon is-small"><i class="fas fa-archive" aria-hidden="true"></i></span>
        <span>чтение</span>
      </a>
    </li>
    <li class="{{if eq $id `update` }} is-active {{else}} {{end}}">
      <a href="/functions/user/update">
        <span class="icon is-small"><i class="fas fa-archive" aria-hidden="true"></i></span>
        <span>изменение/обновление</span>
      </a>
    </li>
    <li class="{{if eq $id `delete` }} is-active {{else}} {{end}}">
      <a href="/functions/user/delete">
        <span class="icon is-small"><i class="fas fa-archive" aria-hidden="true"></i></span>
        <span>удаление</span>
      </a>
    </li>
  </ul>
</div>


<!-- tabs::container  -->
{{if eq $id "create"}}
<span>
   * выбор всех баз или выборочный список (обработка по списку должна проходить в рамках цикла вызова процедуры
     создания пользователя на каждой базе
   *


</span>
      <h4 class="title is-4">создание пользователя</h4>
    <div id="user.create" class="containers">

    </div>
{{end}}

{{if eq $id "reader"}}
      <h4 class="title is-4">чтение  пользователя</h4>
    <div id="user.reader" class="containers">
    </div>
{{end}}

{{if eq $id "update"}}
      <h4 class="title is-4">обновление/изменение пользователя</h4>
    <div id="user.update" class="containers">
    </div>
{{end}}


{{if eq $id "delete"}}
      <h4 class="title is-4">удаление пользователя</h4>
    <div id="user.delete" class="containers">
    </div>
{{end}}



{{end}}


{{end}}