<!-- variables -->
{{$p := .TEXT.request.routepatern}}
{{$id := .DATA.stock.id }}
{{$config := .DATA.stock.config}}
{{$command := .DATA.stock.command }}
<!-- paths -->
{{$proot := makemap  "/"}}
{{$pajax := makemap "/ajax/{command}"  "/ajax/{command}/{id}"}}
{{$pconfig := makemap "/config" "/config/{command}" "/config/{command}/{id}"}}
{{$pcheckdbsingle := makemap "/checkdbsingle" "/checkdbsingle/{command}" "/checkdbsingle/{command}/{id}"}}
{{$pcheckdbtimer := makemap "/checkdbtimer" "/checkdbtimer/{command}" "/checkdbtimer/{command}/{id}"}}
{{$pwrappython := makemap "/wrappython" "/wrappython/{command}" "/wrappython/{command}/{id}"}}
{{$pwrapdbs := makemap "/wrapdbs" "/wrapdbs/{command}" "/wrapdbs/{command}/{id}"}}
{{$pspidersmb := makemap "/spidersmb" "/spidersmb/{command}" "/spidersmb/{command}/{id}"}}
{{$pspiderftp := makemap "/spiderftp" "/spiderftp/{command}" "/spiderftp/{command}/{id}"}}
<!-- added in 2021 -->
{{$pmulticheck := makemap "/multicheck" "/multicheck/{command}" "/multicheck/{command}/{id}"}}
{{$checkbackupSingle := makemap "/checkbackupSingle" "/checkbackupSingle/{command}" "/checkbackupSingle/{command}/{id}"}}
{{$checkbackupTimer := makemap "/checkbackupTimer" "/checkbackupTimer/{command}" "/checkbackupTimer/{command}/{id}"}}

{{$timersingleconfig := makemap "/timersingleconfig" "/timersingleconfig/{command}" "/timersingleconfig/{command}/{id}"}}
{{$timersingleresult := makemap "/timersingleresult" "/timersingleresult/{command}" "/timersingleresult/{command}/{id}"}}


<!-- section::functional (remd + imek + users + rpn)-->
{{$functions:= makemap "/functions" "/functions/{command}" "/functions/{command}/{id}"}}


{{block "head".}} {{end}}
<!-- wrapper -->
<div class="wrapper1">

    <!-- head body  -->
    <div class="headbody" >
        <span class="fa fa-biohazard" style="color: white"></span>
{{/*        группа 2 линии технической поддержки РИСЗ ТО*/}}
         ГРУППА 2 ЛИНИИ ТЕХНИЧЕСКОЙ ПОДДЕРЖКИ РИСЗ ТО
        <br>
        <span class="fa fa-biohazard"></span>

        <hr>

    </div>

    <!-- menu -->
    <div class="columns cc">
        <!-- left menu -->
        <div class="column is-one-fifth" >
            <aside class="menu menustyle">

                {{/* ---------------------------------- functions  --------------------------------------------------- */}}
                <p class="menu-label">
                    функционал поддержки
                </p>
                <ul class="menu-list">
                    <li><a href="/functions/remd" class="{{if and (in $p $functions) (eq $command `remd`)}} is-active {{else}} {{end}}">РЕМД</a></li>
                </ul>
                <ul class="menu-list">
                    <li><a href="/functions/imek" class="{{if and (in $p $functions) (eq $command `imek`)}} is-active {{else}} {{end}}">ИЭМК</a></li>
                </ul>
                <ul class="menu-list">
                    <li><a href="/functions/rpn" class="{{if and (in $p $functions) (eq $command `rpn`)}} is-active {{else}} {{end}}">РПН</a></li>
                </ul>
                <ul class="menu-list">
                    <li><a href="/functions/user" class="{{if and (in $p $functions) (eq $command `user`)}} is-active {{else}} {{end}}">юзер (crud)</a></li>
                </ul>
                {{/* ---------------------------------- БЭКАПЫ --------------------------------------------------- */}}
                <p class="menu-label">
                    Бэкапы
                </p>
                <ul class="menu-list">
                    <li><a href="/checkbackupSingle" class="{{if in $p $checkbackupSingle}} is-active {{else}} {{end}}">Проверка бэкапов (single)</a></li>
                    <li><a href="/checkbackupTimer" class="{{if in $p $checkbackupTimer}} is-active {{else}} {{end}}">Проверка бэкапов (timer)</a></li>
                </ul>
                {{/* ---------------------------------- БД --------------------------------------------------- */}}
                <p class="menu-label">
                    Базы данных
                </p>
                <ul class="menu-list">
                    <li><a href="/multicheck" class="{{if in $p $pmulticheck}} is-active {{else}} {{end}}"> Проверка на доступность(по таймеру постоянно)</a></li>
                    <li><a href="/checkdbsingle" class="{{if in $p $pcheckdbsingle}} is-active {{else}} {{end}}">Проверка
                            на доступность (single)</a></li>
                    <li>
                        <a class="{{if or (in $p $timersingleresult) (in $p $timersingleconfig) }}is-active {{else}}{{end}}">Проверка по таймеру</a>
                        <ul>
                            <li><a href="/timersingleconfig" class="{{if in $p $timersingleconfig}}is-active {{else}}{{end}}">Добавление бд для проверки</a></li>
                            <li><a href="/timersingleresult" class="{{if in $p $timersingleresult }}is-active {{else}}{{end}}">Результаты (realtime)</a></li>
                        </ul>
                    </li>

{{/*                    <li><a href="/checkdbtimer" class="{{if in $p $pcheckdbtimer}} is-active {{else}} {{end}}">[3] Проверка*/}}
{{/*                            на доступность (timer)</a></li>*/}}
                </ul>
{{/*                */}}{{/* ---------------------------------- УТИЛИТЫ --------------------------------------------------- */}}
{{/*                <p class="menu-label">*/}}
{{/*                    Приблуды*/}}
{{/*                </p>*/}}
{{/*                <ul class="menu-list">*/}}
{{/*                    <li><a href="/wrappython" class="{{if in $p $pwrappython}} is-active {{else}} {{end}}">Враппер для*/}}
{{/*                            питона</a></li>*/}}
{{/*                    <li><a href="/wrapdbs" class="{{if in $p $pwrapdbs}} is-active {{else}} {{end}}">Вебконсоль для*/}}
{{/*                            бд</a></li>*/}}
{{/*                    <li><a href="/spidersmb" class="{{if in $p $pspidersmb}} is-active {{else}} {{end}}">Разливалка*/}}
{{/*                            (smb/cifs)</a></li>*/}}
{{/*                    <li><a href="/spiderftp" class="{{if in $p $pspiderftp}} is-active {{else}} {{end}}">Разливалка*/}}
{{/*                            (ftp) </a></li>*/}}
{{/*                </ul>*/}}
                {{/* ---------------------------------- ТЕСТИРОВКА --------------------------------------------------- */}}
{{/*                <p class="menu-label">*/}}
{{/*                    тестировка*/}}
{{/*                </p>*/}}
{{/*                <ul class="menu-list">*/}}
{{/*                    <li><a href="/ws" class="{{if in $p (makemap "/ws") }} is-active {{else}} {{end}}">тестировка вебсокета</a></li>*/}}

{{/*                </ul>*/}}
            </aside>
            <a href="mailto:Aleksey.Martynenko@tularegion.ru?Subject=Вопрос/пожелание по web-порталу" title="отправить мессагу разрабу">
                <span class="fa fa-plug"></span> пожелания/замечания <span class="fa fa-plug"></span>
                <hr>
            </a>
        </div>

        <!-- right context side  -->
        <div id="mainer" class="column is-full-fullhd-thirds  rightboxstyle">
            <!-- tree logic -->

            {{if in $p $pconfig}}
                {{block "config".}}{{end}}
            {{end}}

            {{if in $p  $pcheckdbsingle}}
                {{block "checkdbsingle".}}{{end}}
            {{end}}
            {{if in $p $pcheckdbtimer}}
                {{block "checkdbtimer".}}{{end}}
            {{end}}
            {{if in $p  $pwrappython}}
                {{block "wrappython".}}{{end}}
            {{end}}
            {{if in $p  $pwrapdbs}}
                {{block "wrapdbs".}}{{end}}
            {{end}}
            {{if in $p  $pspidersmb}}
                {{block "spidersmb".}}{{end}}
            {{end}}
            {{if in $p  $pspiderftp}}
                {{block "spiderftp".}}{{end}}
            {{end}}

            <!-- 2021 -->
            {{if in $p  $pmulticheck}}
                {{block "multicheck".}}{{end}}
            {{end}}
            {{if in $p  $checkbackupSingle}}
                {{block "checkbackupSingle".}}{{end}}
            {{end}}
            {{if in $p  $checkbackupTimer}}
                {{block "checkbackupTimer".}}{{end}}
            {{end}}

            {{if in $p  $timersingleconfig}}
                {{block "timersingleconfig".}}{{end}}
            {{end}}
            {{if in $p  $timersingleresult}}
                {{block "timersingleresult".}}{{end}}
            {{end}}

            {{if in $p $functions}}
                {{block "functions".}}{{end}}
            {{end}}



        </div>
    </div>

</div> <!-- wrapper1 -->


{{block "end".}} {{end}}
