<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <script src="/static/js/t.js"></script>
        <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    let v = WS();
</script>
{{/*<script>*/}}
{{/*    socket = new WebSocket("ws://localhost:4001/ws");*/}}
{{/*    socket.onopen = function (e) {*/}}
{{/*        console.log("Open connection websocket");*/}}
{{/*    }*/}}
{{/*    socket.onmessage = function (e) {*/}}
{{/*        let res = JSON.parse(e.data);*/}}
{{/*        console.log(res);*/}}
{{/*    }*/}}
{{/*    socket.onerror = function (e) {*/}}
{{/*        console.log("error : ", e);*/}}
{{/*    }*/}}
{{/*</script>*/}}
<body>
<h2>WS PAGE </h2>
<hr>

</body>
</html>